@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables base */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* DaisyUI y Tailwind aplican el tema automáticamente */
body {
  background-color: var(--background);
  color: var(--foreground);
  @apply font-sans;
}
